

<!DOCTYPE html>
<html>
   <head>
      <title>Asset Management</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <a href="/">BACK</a>
      <h1>AssetType List</h1>
         <table class="table table-bordered">
            <caption>AssetType</caption>
            <thead>
              <tr>
                <th>ID</th>
                <th>assetname</th>
                <th>detailtype</th>
                <th>create_dt</th>
                <th>update_dt</th>
                <th>delete</th>
              </tr>
            </thead>
            <tbody>
                %for at in name:
                    <tr>
                        <td>{{at.id}}</td>
                        <td>{{at.assetname}}</td>
                        <td>{{at.detailtype}}</td>
                        <td>{{at.create_dt}}</td>
                        <td>{{at.update_dt}}</td>
                        <td><button class="btn btn-default" type="button" value="{{at.id}}" onclick="delfunc(value)">Delete</button></td>
                    </tr>
                %end
            </tbody>
          </table>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="static/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
      <script>
            function delfunc(value) {
                    $.post("/assettype/delete",{
                        id: value
                    },
                    function(data,status){
                        if (data.data == "success") {
                            alert("delete successful");
                            window.location.reload();
                        };
                    });
            };
      </script>
   </body>
</html>