<!DOCTYPE html>
<html>
   <head>
      <title>Asset Management</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <h1>Add AssetType Form</h1>

      <div style="padding: 100px 100px 10px;">
         <form class="bs-example bs-example-form" role="form" action="/assettype" method="post">
             <div class="input-group">
                 <span class="input-group-addon">assetname</span>
                 <input type="text" name="assetname" class="form-control" placeholder="assetname">
             </div>
             <br>
             <div class="input-group">
                 <span class="input-group-addon">detailtype</span>
                 <input type="text" name="detailtype" class="form-control">
             </div>
             <br>
             <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Submit</button>
                  </span>
              </div>
         </form>
     </div>


      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="static/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
   </body>
</html>